body{

    width: 100%;
    max-width: 414px;
    margin: 0 auto;
}

/* mobile screen version */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1.3125rem 1.5rem 1.3125rem 1.25rem;
    background-color: white;
  
}

nav, a, .logo{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    align-items: center;
}

.logo{
    display: flex;
}

.logo a{
    color: #0E0E0E;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 0.846875rem;
    letter-spacing: -0.03em;
    line-height: 1.082;
}

nav, .menu a{
    font-family: "Source Sans 3", sans-serif;
    font-size: .75rem;
    font-weight: 600;
    gap: 1.9375rem;
    color: #090909;
}

nav, .menu a:hover{
    transform: scale(1.1);
    color: #505050;
}

header img{
    object-fit: cover;
}

/* Hero section */

.hero{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 25.875rem;
    height: 18.25rem;
    padding: 5.4375rem 1.25rem 1.5625rem 1.25rem;
    box-sizing: border-box;
    gap: 0.5rem;
    margin-bottom: 2.125rem;
    cursor: pointer;
    
}

.hero-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero .subtext, h1, p, .date{
    font-family: "Source Sans 3", sans-serif;
    color: #FFFFFF;
    margin: 0;
    
}
/* 
liquid glass mobile hero */

.inner-text{
    position: relative;
    z-index: 1;
    padding: 0.3rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); /* necesario para Safari */
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(254, 254, 255, 0.37);
    }

.hero .subtext{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding: 0.3rem;
    border-radius: 3%;
    margin-top: 10px;
}

.hero .date{
    font-size: 0.75rem;
    font-weight: 400;
    padding-top: 0.50em;
}

.hero h1{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.082em;
    color: rgb(244, 244, 244);

}

.hero p{
    font-size: 1rem;
}

/* Grid */

main{
    background-color: #FAFAFA;
}

.blog-grid{
    display: grid;
    justify-content: center;
}

/* quitar margen texto de cards */
.card h2, p{
    margin: 0px;
}

.card{
    display: flex;
    flex-direction: column;
    font-family: "Source Sans 3", sans-serif;
    box-sizing: border-box;
    margin-bottom: 2.5625rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.card img{
    object-fit: cover;
    border-radius: 5%;
    
}

.card .date{
    font-size: 0.8856rem;
    margin-top: 0.875rem;
    margin-bottom: 0.5625rem;
    box-sizing: border-box;
    color: #000000;
    font-weight: 400;
}

.card h2{
    font-size: 1.5rem;
    line-height: 1.082em;
    font-weight: bold;
    margin-bottom: 0.5625rem;
}

.card .subtext{
    font-size: 1rem;
    font-weight: 400;
    color: #505050;
    line-height: 1.25em;
}

/* view more btn */

.view-more{
    font-family: "Source Sans 3";
    color: #000000;
    font-weight: bold;
    font-size: 0.885625rem;
    text-decoration: underline;
    cursor: pointer;
    display: flex;
    margin-top: -0.7em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.6875rem;
    border: none;
    background: none;
}

.view-more:hover{
    transform: scale(1.04);
    color: #505050;
}

/* footer */
footer{
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6.5625rem;

    

}

footer p{
    font-size: 0.75rem;
    color: #ececec;
    font-weight: bold;
    line-height: 1.082em;
    
}

footer span{
    color:#D7D7D7;
    font-weight: 400;
    line-height: 1.25em;
}

/* hero.html mobile screen*/
.recent-posts{
    color: #000000;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.6875rem;

}

.mobile-break{
    display: inline;
}

.blog{
    display: flex;
    flex-direction: column;
    padding: 2rem 1.25rem 3.1875rem 1.25rem;
}

.blog, p, h1{
    color: #151515;
    margin: 0;
}

.blog .blog-font{
    font-size: 1rem;
}

.blog .bold{
    font-weight: bold;
    font-size: 1rem;
}

.blog h1{
    line-height: 1.082em;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom:1.4rem;
    letter-spacing: -0.03em;
    
}


.blog .date{
    color: #151515;
    font-weight: 400;
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
}

.blog img{
    object-fit: cover;
    border-radius: 3%;
    margin: 2.1875rem 0;
}

/* about html mobile screen */

/* hero text and img */

.father{
    background-color: white;
}

.about-html .blog{
    background-color: white;
    padding-top: 0;
}

.about-html{
    padding: 0 20px;
}


.about-html .about-hero img{
    width: 182px;
    height: 182px;
    margin-bottom: 27px;
    margin-top: 26px;
    margin-left: 20px;
    border-radius: 50%;
}

.about-html .about-hero h1{
    font-size: 2.1775rem;
    line-height: 1.082em;
    letter-spacing: -0.03em;
    margin-bottom: 1rem;
    padding-right: 42.78px;
    margin-left: 20px;
  
    
}

.about-hero p{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 3.125rem;
    font-size: 1rem;
   
}

.about-html .about-hero .hide{
    display: none;
}


.about-html .highlight{
    background-color: #f7f7f7;
    padding: 1.06rem;
    border-radius: 2%;
    margin-bottom: 40px;
}


.about-html .blog{
    padding-bottom: 0;
    margin-bottom: 2.8125rem;
}

.about-html .recent-posts p{
    margin-bottom: 1.6875rem;
}

.about-html .view-more{
    display: none;
}

.about-html .card{
    margin-bottom: 3.5rem;
}

/* Desktop screen size */

@media (min-width: 1080px){
    body{
        max-width: 1085px;
    }


/* header */

header{
    padding-right: 53px;
}

header nav a {
    font-size: 1rem;
    font-weight: 600;
}

/* texto nav */

    .menu a{
        font-size: 1rem;
    }

    .menu a:hover{
        transform: scale(1.03);
        color:#505050;
    }

    .logo img{
        height: 2.140625rem;
        width: 2.140625rem;
    }

    .logo a{
        font-size: 1.2525rem;
    }

/* texto hero */
    .hero{
        width: 1085px;
        height: 488px;
        padding: 0 0 3.7043rem 3.3125rem;
        cursor: pointer;
        
    }

    .hero .inner-text{
     /* width: 657px; */
     position: relative;
     z-index: 1;
     height: 11em;
     width: 41.0625rem;
     padding: 0.625rem;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); /* necesario para Safari */
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    }

    .hero .date{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5625rem;
    }

    .hero h1{
    font-size: 2.5rem;
    letter-spacing: -0.03em;
    display: flex;
    margin-bottom: 0.6081rem;
    }

    .gradient-text {
    background: linear-gradient(90deg, orange, white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

   .hero .subtext{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 3.704375rem;
    }

    .hero{
        margin-bottom: 0px;
    }


    /* hero.html desktop screen*/

    .blog{
        padding-bottom: 4.5625rem;
    }

    .hero-html .blog, p h1{
       padding-left: 73px;
       padding-right: 73px;
    }

    .mobile-break{
        display: none;
    }

    .blog .date{
        font-size: 1rem;
        color: #151515;
        margin-bottom: 24px;

    }

    .blog h1{
        font-size: 2.25rem;
        margin-bottom: 1.6875rem;
    }

    .blog img{
        width: 979px;
        height: 488px;
        border-radius: 5%;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }


    .blog .bold{
        font-size: 1.5rem;
    }

     .blog .blog-font{
        font-size: 1.143125rem;
        
    }

   
    .hero-html .recent-posts{
        font-size: 1.5rem;
        margin: 0;
     
    }

    .hero-html .blog-grid{
        padding-top: 1.75rem;
    }

    .hero-html .view-more{
        display: none;
    }




    


/* about-html desktop size */


.about-html hero{
    display: flex;
    padding: 5.6875rem 3.3125rem 0 3.3125rem;
    align-items: center;
    
}

/* text */

.about-html .about-hero h1{
    color: #151515;
    font-size: 2.25rem;
    letter-spacing: -0.03em;
    line-height: 1.082;
    margin-bottom: 0.625rem;
}

.about-html .hero-text{
    display: flex;
    flex-direction: column;
}


.about-html .blog{
    padding: 4.0625rem 7.5625rem 3.1875rem 7.5625rem;
    font-size: 20px;
}

.blog-html, .highlight{
    width: fit-content;
    background-color: #f6f6f6;
    padding: 1em 1.5em;
    border-radius: 2%;
}

.about-html .blog .blog-font{
    font-size: 1rem;
    

}

.about-html .blog .bold{
    font-size: 1.25rem;
    
}

/* image */

.about-hero img{
    border-radius: 50%;
    display: flex;
    margin-right: 33px;
}

.blog-html, .recent-posts{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

.about-html .blog-grid{
    padding-top: 0;
    padding-bottom: 1.3rem;
}

.blog-html, .view-more{
    display: none;
}


/* grid template */


.blog-grid{

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    box-sizing: border-box;
    padding: 53px 53px 46px 53px;
    row-gap: 26px;


    }

    .card{
        width: 309px;
        height: 393px;
        
    }

    .card img{
        width: 100%;
        min-height: 232px;
    }

    .card img:hover{
        transform: scale(1.01);
    }


/* card text */

.card .date{
    font-size: 0.875rem;
    margin-top: 0.875rem;
    margin-bottom: 14px;
  
}

.card h2{
    margin-bottom: 9px;
}

.view-more{
    margin-top: -2.875rem;
}

}