body{
    background-color:whitesmoke;
    width: 414px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #202020;

    
}

header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 21px 24px 21px 20px;
    background-color: white;
}

nav, a, .logo{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    align-items: center;
    
}

.logo{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 13.55px;
    letter-spacing: -0.03em;
    color: #0E0E0E;
    display: flex;
 
}

nav, a{
     font-family: "Source Sans 3", sans-serif;
    font-size: 12px;
    font-weight: 600;
    gap: 31px;
    color: #090909;
}

header img{
background-color: #0E0E0E;
object-fit: cover;
}

/* Hero section */

.hero{
    background-image: url("images/hero.jpg");
    background-size: cover;
     background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 414px;
    height: 292px;
    padding: 87px 20px 25px 20px;
    box-sizing: border-box;
    gap: 8px;
    margin-bottom: 34px;
}

.hero .subtext, h1, p, .date{
    font-family: "Source Sans 3", sans-serif;
    color: #FFFFFF;
    margin: 0;
}


.hero .subtext{
font-size: 16px;
font-weight: 400;
}

.hero .date{
    font-size: 12px;
    font-weight: 400;
}

.hero h1{
     font-size: 32px;
     font-weight: bold;
     line-height: 1.082em;
}

.hero p{
    font-size: 16px;
}

/* Grid */

main{
    background-color: white;

}

.blog-grid{
    display: grid;
}


/* quitar margen texto de cards */
.card h2, p{
    margin: 0px;
}

.card{
    display: flex;
    flex-direction: column;
    font-family: "Source Sans 3", sans-serif;
    gap: 8px;
    box-sizing: border-box;
    margin-bottom: 41px;
    margin-left: 20px;
    margin-right: 20px;
}

.card img{
    object-fit: cover;
}

.card .date{
    font-size: 14.17px;
    margin-top: 14px;
    box-sizing: border-box;
    color: #000000;
    font-weight: 400;
}

.card h2{
    font-size: 24px;
    line-height: 1.082em;
    font-weight: bold;
   
}

.card .subtext{
font-size: 16px;
font-weight: 400;
color: #505050;
line-height: 1.25em;
}

/* view more btn */

.view-more{
    font-family: "Source Sans 3";
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    display: flex;
    margin-top: -14px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 43px;
    border: none;
    background: none;
   
}

/* footer */
footer{
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 105px;

}

footer p{
    font-size: 12px;
    color: #ececec;
    font-weight: bold;
    line-height: 1.082em;
}

footer span{
    color:#D7D7D7;
    font-weight: 400;
    line-height: 1.25em;
}

